# Directories
target/
build/
node_modules/
.vscode/
.idea/
.mvn/

# IntelliJ IDEA
*.iml

# Eclipse
.classpath
.project

# Log files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# Maven and Gradle wrapper files
mvnw
mvnw.cmd
gradlew
gradlew.bat

# Environment variables
.env

# Other sensitive files
application.properties
